{% extends "layout.html" %}

{% block title %}Small Group Tracker{% endblock %}

{% block links %}
<style type="text/css">
  th[data-sort]{
    cursor:pointer;
  }

</style>
{% endblock %}

{% block body %}

    <div class="container">
        <p></p>
        <div class="row">
            <div class="col-md-12">
                <h1>{{g.title}} ({{g.users|length}})</h1>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>rcos.io</th>
                            <th data-sort="string">First Name</th>
                            <th data-sort="string">Last Name</th>
                            <th data-sort="string">Email</th>
                            <th data-sort="string">Account</th>
                            <th data-sort="string">Project</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for user in g.users%}
                            <tr>
                                <td>
                                    <a href="https://rcos.io/users/{{user['rcosio']}}/profile"><span class="glyphicon glyphicon-education" aria-hidden="true"></a></span>
                                </td>
                                <td>{{user.fname}}</a></td>
                                <td>{{user.lname}}</a></td>
                                <td><a href="mailto:{{user['email']}}">{{user.email}}</a></td>
                                <td><a href="/user/{{user['github']}}">{{user.github}}</td>
                                <td><a href="/project/{{user['project']}}">{{user.project}}</td>
                                <td><a href="/remove/{{user.github}}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                            </tr>
                        {% endfor%}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3>Add New Member</h3>
                <form class="form-inline" method="POST" action="/">
                    <table class="table">
                        <tr>
                            <td>{{ form.fname.label }}</td>
                            <td>{{ form.fname(class_="form-control", placeholder="Shane")}}</td>
                            <td>
                                {% if form.fname.errors %}

                                    <ul class="errors">
                                        {% for error in form.fname.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </td>
                        </tr>

                        <tr>
                            <td>{{ form.lname.label }}</td>
                            <td>{{ form.lname(class_="form-control", placeholder="Aston")}}</td>
                            <td>
                                {% if form.lname.errors %}
                                    <ul class="errors">
                                        {% for error in form.lname.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                &nbsp;
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>{{ form.email.label }}</td>
                            <td>{{ form.email(class_="form-control", placeholder="astonshane@gmail.com")}}</td>
                            <td>
                                {% if form.email.errors %}
                                    <ul class="errors">
                                        {% for error in form.email.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                &nbsp;
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>{{ form.github.label }}</td>
                            <td>{{ form.github(class_="form-control", placeholder="astonshane")}}</td>
                            <td>
                                {% if form.github.errors %}
                                    <ul class="errors">
                                        {% for error in form.github.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                &nbsp;
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>{{ form.project.label }}</td>
                            <td>{{ form.project(class_="form-control", placeholder="astonshane/GroupTracker")}}</td>
                            <td>
                                {% if form.project.errors %}
                                    <ul class="errors">
                                        {% for error in form.project.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                &nbsp;
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>{{ form.rcosio.label }}</td>
                            <td>{{ form.rcosio(class_="form-control", placeholder="55e35b3bd20d829034ef0be5")}}</td>
                            <td>
                                {% if form.rcosio.errors %}
                                    <ul class="errors">
                                        {% for error in form.rcosio.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                &nbsp;
                                {% endif %}
                            </td>
                        </tr>
                    </table>

                    <input type="submit" class="btn btn-primary" value="Add User">
                </form>
            </div>
        </div>
        </div>
    </div>
{% endblock %}


{% block postscript %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/stupidtable/0.0.1/stupidtable.min.js"></script>
<script>
$(function(){
    $("table").stupidtable();
});
</script>
{% endblock %}
