{% extends "layout.html" %}

{% block title %}Project Page{% endblock %}

{% block links %}
<style type="text/css">
  th[data-sort]{
    cursor:pointer;
  }

</style>
{% endblock %}

{% block body %}

    <div class="container">
        <p></p>
        <div class="row">
            <h1>{{project.name}} {% if project.RCOS %}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{% endif%}</h1>
            {% if project.RCOS %}
            <div class="col-md-4">
                <h2>Project Members</h2>
                <div class="list-group">
                    {% for member in project.users %}
                        <a href="/user/{{member.github}}" class="list-group-item">{{member.fname}} {{member.lname}}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-8">
            {% else %}
            <div class="col-md-12">
            {% endif %}
                <h2>Public Events ({{events|length}})</h2>

                <table class="table table-striped">
                  <thead>
                    <tr>
                        <th data-sort="string">Date</th>
                        <th data-sort="string">User</th>
                        <th data-sort="string">Branch</th>
                        <th data-sort="string">Type</th>
                        <th>Detail</th>
                    </tr>
                  </thead>
                  <tbody>
                    {%for event in events%}
                        <tr>
                            <td>{{event.date}}</td>
                            <td><a href="/user/{{event.user}}">{{event.user}}</a></td>
                            <td>{{event.branch}}</td>
                            <td>{{event.type}}</td>
                            <td>{{event.detail|safe}}</td>
                        </tr>
                    {% endfor%}
                  </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block postscript %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/stupidtable/0.0.1/stupidtable.min.js"></script>
<script>
$(function(){
    $("table").stupidtable();
});
</script>
{% endblock %}
