{% extends "layout.html" %}

{% block title %}User Page{% endblock %}

{% block body %}

    <div class="container">
        <p></p>
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <img src="{{user.pic}}" height=200 width=200></img>
                </div>
                <div class="row">
                    <h2>
                        {{user.name}}
                        {% if user.RCOS %}
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        {% endif %}
                    </h2>
                </div>
                <div class="row">
                    <strong>Github:</strong> <a href="http://github.com/{{user.github}}"> http://github.com/{{user.github}} </a>
                </div>
                {% if user.RCOS %}
                    <div class="row">
                        <strong>Email:</strong> {{user.email}}
                    </div>
                    <div class="row">
                        <strong>Project:</strong> {{user.project}}
                    </div>
                {% endif %}
            </div>
            <div class="col-md-9">
                <h2>Public Events ({{events|length}})</h2>

                <table class="table table-striped">
                    <tr>
                        <th>Repository</th>
                        <th>Branch</th>
                        <th>Type</th>
                        <th>Detail</th>
                        <th>Date</th>
                    </tr>
                    {%for event in events%}
                        <tr>
                            <td><a href="/project/{{event.repo}}">{{event.repo}}</a></td>
                            <td>{{event.branch}}</td>
                            <td>{{event.type}}</td>
                            <td>{{event.detail|safe}}</td>
                            <td>{{event.date}}</td>
                        </tr>
                    {% endfor%}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
