{% extends "layout.html" %}

{% block title %}User Page{% endblock %}

{% block links %}
<style type="text/css">
  th[data-sort]{
    cursor:pointer;
  }

</style>
{% endblock %}

{% block body %}

    <div class="container">
        <p></p>
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <img src="{{user.pic}}" height=200 width=200></img>
                </div>
                <div class="row">
                    <h2>
                        {{user.name}}
                        {% if user.RCOS %}
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        {% endif %}
                    </h2>
                </div>
                <div class="row">
                    <strong>Github:</strong> <a href="http://github.com/{{user.github}}"> http://github.com/{{user.github}} </a>
                </div>
                {% if user.RCOS %}
                    <div class="row">
                        <strong>Email:</strong> {{user.email}}
                    </div>
                    <div class="row">
                        <strong>Project:</strong> {{user.project}}
                    </div>
                {% endif %}
            </div>
            <div class="col-md-9">
                <h2>Public Events ({{events|length}}) <small>from last two weeks</small></h2>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th data-sort="string">Date</th>
                            <th data-sort="string">Repository</th>
                            <th data-sort="string">Branch</th>
                            <th data-sort="string">Type</th>
                            <th>Detail</th>

                        </tr>
                    </thead>
                    <tbody>
                        {%for event in events%}
                            <tr>
                                <td>{{event.date}}</td>
                                <td><a href="/project/{{event.repo}}">{{event.repo}}</a></td>
                                <td>{{event.branch}}</td>
                                <td>{{event.type}}</td>
                                <td>{{event.detail|safe}}</td>

                            </tr>
                        {% endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block postscript %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/stupidtable/0.0.1/stupidtable.min.js"></script>
<script>
$(function(){
    $("table").stupidtable();
});
</script>
{% endblock %}
